.header{
    display:flex;
    justify-content: space-between;
    height: 4rem;
    background-color: 	#181818;
    color:#fff;
    padding: 0.5% ;
    position: sticky;
    z-index: 10;
    top: 0;
    width: 99%;

  
    
}
.logo{
    margin: 10px 0;
}
.logo > img{
    border-radius: 50%;
   
}
.logoName{
    color: red;
    font-size: 2rem;
    margin:0 8rem;
    
}
.navBar{
    display:flex;
    
}
.navBar:hover{
    cursor: pointer;
}
.navItem{
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.4;
    margin: 1rem

    
}
.joinUsBtn{
  
  

    background: red;
    border-radius: 10px;
    margin: 5px 20px;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 2rem;


}

.Menu{
    display: none;
}
.navMenu{
    height: 100%;
    width: 50%;
    background-color: #000;
    padding: 3rem;
    position: fixed;
    right: 0;
    top: 40px;
}


@media (max-height:882px){

    .navItem{
        list-style: none;
        margin: 1rem;
        font-size: 1rem;
    
        
    }
}
@media (max-width: 768px) {
    
    .logo > img{
        display: none;
    }
    
}
@media (max-width: 950px) {
    .navBar{
        display: none;
    }
    .joinUsBtn{
        display: none;
    }
    .Menu{
        display: block;
    }

}