/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background-color: #181818;
  color: #fff;
  padding: 0.5%;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 99%;
}

/* Gym logo */
.logo {
  margin: 1rem 0;
  text-align: left;
}
.logo > img {
  border-radius: 50%;
}
.logoName {
  color: red;
  font-size: 2rem;
  margin-left: 7rem;
}

/* navbar */
.navBar {
  display: flex;
}
.navBar:hover {
  cursor: pointer;
}
.navItem {
  list-style: none;
  font-size: 1.5rem;
  line-height: 2.4;
  margin: 1rem;
}
.navItem:hover {
  color: rgb(231, 86, 86);
}

/* button */
.joinUsBtn {
  background: red;
  border-radius: 10px;
  margin: 5px 20px;
  color: #fff;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin-right: 3rem;
}
.joinUsBtn:hover,
.logo:hover {
  cursor: pointer;
}

/* Hamburger menu */
.Menu {
  display: none;
}
.Menu:hover {
  cursor: pointer;
}
.navMenu {
 
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: fixed;
  top: 0;
  height: 80%;
}
.closeMenu {
  display: none;
}

/* Media Queries for responsivesness */
@media (max-height: 882px) {
  .navItem {
    list-style: none;
    margin: 1rem;

  
  }
}
@media (max-width: 768px) {
  
  .logo > img {
    display: none;
  }
  .logo{
    font-size: 2.5rem;
  }
}
@media (max-width: 950px) {
  .navBar {
    display: none;
  }
  .joinUsBtn {
    display: none;
  }
  .Menu {
    display: block;
    margin-right: 2rem;
  }
  .closeMenu {
    display: block;
    color: #fff;
    fill: #fff;
    position: fixed;
    right: 2rem;
    top: 2rem;
  }
  .closeMenu:hover {
    cursor: pointer;
  }
}
