/* Team */
.team-container {
  height: fit-content;

  width: fit-content;
  padding: 2rem 0 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.training-team {
  margin: 0 14rem;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 74vw;
  scroll-behavior: smooth;
}
.training-team::-webkit-scrollbar {
  display: none;
}

/* Team heading */
.training-team-heading {
  font-size: 3rem;
  color: #db3137;
  font-weight: bolder;

  padding: 4rem 0;
  text-align: center;
}

/* Team Members */
.all-team {
  display: flex;
  gap: 2rem;
  width: 90vw;

  z-index: 0;
  position: relative;
  justify-content: centeer;
}

.team-image,
.team-image > img {
  border-radius: 8px;
}

.team-image > img {
  width: 200px;
  height: 200px;
}

/* view all */
.view-all-container {
  margin: 4rem;
}

.view-all {
  padding: 0.8rem 2rem;
  margin: 0 1rem;
  border: 2px solid #db3137;
  border-radius: 8px;
  font-size: 1.4rem;
}
/*scroll button */
.scroll-left,
.scroll-right {
  color: #db3137;
  position: relative;
  top: 1rem;
  cursor: pointer;
}

/* Media query for other screen */
@media (max-width: 1200px) {
  .training-team {
    overflow: hidden;
    width: fit-content;
  }
  .all-team {
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    width: 100%;
  }
  .team-image {
    width: fit-content;
  }
}
@media (max-width: 600px) {
  .team-image img {
    width: 380px;
    height: 300px;
    border-radius: 25px;
  }
  .scroll-left,
  .scroll-right {
    display: none;
  }
}
